/*
 * slider-line.js
 */

.uix-slider {
    display: flex;
    flex-direction: column;
}

.uix-slider h1 {
    margin-left: 8px;
}

.uix-slider--line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.uix-card--rent {
    display: flex;
    flex: 1 1 328px;
    max-width: 328px;
    min-width: 328px;
    flex-direction: column;
    align-items: bottom;

    /*ratio 16:9*/
    /*width: 328px;*/
    height: 184px;

    border: 1px;
    border-radius: 8px;
    border-color: var(--color-helper-2);
    border-style: solid;
    box-sizing: border-box;

    background-color: var(--color-surface);
    color: var(--color-on-surface);

    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;

    padding: 16px;
}

.uix-card--rent h1 {
    font-size: 1.266rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 0px;
}

.uix-card--rent hr {
    border: 0;
    height: 1px;
    background: var(--color-helper-2);
}

.bottom {
    margin-top: auto;
}

.card--caption {
    color: var(--color-on-surface-light);
    text-transform: uppercase;
}