<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#313b46" />
    <meta charset="utf-8">

    <meta name="keywords" content="Серфинг, Санкт-Петербург, Серф-спот, Атлантис, Солнечное">
    <meta name="description" content="Описание и информация о серф-споте Атлантис в Санкт-Петербурге">
    <meta name="author" content="Alexander Niki (www.alexanderniki.name)">
    <meta name=”robots” content="index, follow">

    <link id="theme" rel="stylesheet" type="text/css" href="theme-light.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="gallery.css">


    <!-- Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109923788-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-109923788-1');
    </script>-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UG-TG3808C32Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UG-TG3808C32Z');
    </script>

    <!-- Components -->
    <script src="footer.js"></script>
    <script src="spotlist.js"></script>
    <script src="equiplist.js"></script>
    <script src="utils.js"></script>

    <script>
        getCurrentTheme();
    </script>

    <title>Серфинг в санкт-Петербурге. Спот Атлантис</title>
    
</head>

<body>

    <header>
        <section class="spot-header">
            <a href="index.html" class="decoration-none"><span class="uix--icon--back caption-accent">‹</span></a>
            <!-- <a href="index.html">Главная</a> › Споты -->
            <h1>Спот Атлантис</h1>
        </section>
    </header>

    <main>

        <!-- FLEX APP LAYOUT -->

        <section class="uix--layout-hbox--wrapped">

            <div class="uix-card" id="">
                <div class="uix-card--container">
                    <span class="uix-card--title" id="">Описание</span>
                    <hr>
                    <div class="uix-card--main" id="">
                        <p>Основной "домашний" спот для многих питерских серферов.</p>
                        <p>Расположен в районе пляжа "Ласковый" в поселке "Солнечное".</p>
                        <p>Есть канал, который неплохо работает при больших волнах.</p>
                    </div>
                </div>
            </div>

            <div class="uix-card" id="">
                <div class="uix-card--container">
                    <span class="uix-card--title" id="">Характеристики</span> 
                    <a href="reference-spots.html" class="decoration-none"><span class="icon-help caption2">?</span></a>
                    <hr>
                    <div class="uix-card--main" id="">
                        <ul class="uix-card--list">
                            <li class="uix-card--list-item">
                                    <div class="uix-card--list-item--overline caption3">Тип:</div>
                                    <div class="uix-card--list-item--primary-text">Beach break</div>
                            </li>
                            <li class="uix-card--list-item">
                                    <div class="uix-card--list-item--overline caption3">Направление волны:</div>
                                    <div class="uix-card--list-item--primary-text">Правая</div>
                            </li>
                            <li class="uix-card--list-item">
                                    <div class="uix-card--list-item--overline caption3">Дно:</div>
                                    <div class="uix-card--list-item--primary-text">Песок</div>
                            </li>
                            <li class="uix-card--list-item">
                                    <div class="uix-card--list-item--overline caption3">Сложность:</div>
                                    <div class="uix-card--list-item--primary-text">Начинающий</div>
                            </li>
                            <li class="uix-card--list-item">
                                    <div class="uix-card--list-item--overline caption3">Уровень загруженности:</div>
                                    <div class="uix-card--list-item--primary-text">Высокий</div>
                            </li>
                            <li class="uix-card--list-item">
                                <div class="uix-card--list-item--overline caption3">Угрозы:</div>
                                <div class="uix-card--list-item--primary-text">Нет</div>
                            </li>
                            <li class="uix-card--list-item">
                                <div class="uix-card--list-item--overline caption3">Качество волн:</div>
                                <div class="uix-card--list-item--primary-text">Среднее</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>
        <section class="uix--layout-hbox--wrapped">

            <div class="uix-card" id="">
                <div class="uix-card--container">
                    <span class="uix-card--title" id="">Расположение</span>
                    <hr>
                    <div class="uix-card--main" id="">
                        <p>
                            Координаты: <br><span id="spot-location">60.143992, 29.926703</span>
                            <button id="copy-location" onclick="copyToClipboard('spot-location')">
                                <img src="https://img.icons8.com/material-outlined/16/000000/copy.png"/>
                            </button>
                        </p>
                        
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.1096381446197!2d29.925735665665847!3d60.143991996474405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNjDCsDA4JzM4LjQiTiAyOcKwNTUnMzYuMSJF!5e0!3m2!1sen!2sru!4v1624996391245!5m2!1sen!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="uix--layout-hbox--wrapped">

            <div class="uix-card" id="">
                <div class="uix-card--container">
                    <span class="uix-card--title" id="">Галерея</span>
                    <hr>
                    <div class="uix-card--main" id="">
                        <div id="gallery">
                            <div class="main-img">
                                <img src="media/spot-atlantis-photo-1.jpg" id="current">
                            </div>
                            <div class="images">
                                <img src="media/spot-atlantis-photo-1.jpg" class="img">
                                <img src="media/spot-atlantis-photo-2.jpg" class="img">
                                <img src="media/spot-atlantis-photo-3.jpg" class="img">
                                <img src="media/spot-atlantis-photo-4.jpg" class="img">
                            </div>
                        </div>
                        <div class="uix-popup" id="gallery-modal">
                            <span class="uix-button--close">&times;</span>
                            <img class="uix-popup--content" id="gallery-image">
                        </div>
                        <script src="gallery.js"></script>
                    </div>
                </div>
            </div>

        </section>

        <section class="uix--layout-hbox--wrapped">

            <div class="uix-card" id="">
                <div class="uix-card--container">
                    <span class="uix-card--title" id="">Транспорт</span>
                    <hr>
                    <div class="uix-card--main" id="">
                        <ul>
                            <li>305 - маршрутка от м. Старая Деревня</li>
                            <li>211 - автобус от м. Беговая, м. Черная речка</li>
                            <li>400 - маршрутка от м. Финляндский вокзал</li>
                            <li>680 - маршрутка от м. Проспект Просвещения</li>
                            <li>827 - маршрутка от м. Гражданский проспект</li>
                        </ul>
            
                        Добраться также можно на электричке с Финляндского вокзала.
                    </div>
                </div>
            </div>

            <div class="uix-card" id="">
                <div class="uix-card--container">
                    <span class="uix-card--title" id="">Правила поведения</span>
                    <hr>
                    <div class="uix-card--main caption" id="">
                        <p>У опытных серферов, обычно, нет проблем с катанием, техникой безопасности и соблюдением этикета на споте. Проблемы, чаще всего, бывают у новичков и продолжающих. 
                            Они, зачастую, становятся источником опасности для катающихся, мешают брать волны. 
                            И - самое главное - есть риск столкновения, травм, поломки досок.</p>
                        <p>Если вы новичок, плохо знакомы со спотом или только тренируетесь на пене, соблюдайте следующие простые правила:</p>
            
                        <ol>
                            <li>Старайтесь <strong>приезжать пораньше</strong>, когда спот более-менее пуст. Особенно утром, в обед</li>
                            <li>Если людей у Берёзок много, то идите дальше по пляжу в сторону <strong>волейбольных Сеток</strong> и далее. Там точно такие же волны и можно тренироваться в спокойствии. Если не знаете, что такое Берёзки, тем более следуйте этим рекомендациям</li>
                            <li>Если сильный прибой и нужно пользоваться каналом, то заходите в канал <strong>напротив второй от инвалидки круглой мусорной урны</strong>. Заплывайте прямо в море <strong>как можно дальше, выше всех</strong> и там течение быстро снесет вас к шикарным и спокойным Сеткам.</li>
                            <li>Самое главное правило - когда стартуешь, <strong>обязательно смотри вправо и влево</strong>. Если в вашу сторону уже едет другой серфер, значит эта волна <strong>занята</strong>, стартовать не нужно</li>
                            <li>Второе главное правило - <strong>не сидеть внизу (близко к берегу)</strong> "под" теми серферами которые стартуют выше и могут врезаться в вас. Уплывайте из этой зоны или следуйте правилу - уходить к Сеткам</li>
                            <li>Если не знаете где канал, не можете самостоятельно его найти, значит вы не опытный серфер. Идите к Сеткам</li>
                            <li>Те кто не катается на лайнапе, а тренируется пока на пене и небольших волнах - идите к Сеткам</li>
                        </ol>
            
                        <p>Атлантис - большой спот и, при правильном размещении, места на нем хватит всем.</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="uix--layout-hbox--wrapped">

            <div class="uix-card" id="">
                <div class="uix-card--container">
                    <span class="uix-card--title" id="">Дополнительно</span>
                    <hr>
                    <div class="uix-card--main" id="">
                        <p>Недалеко от спота есть кайт-станция TakeOff Surf с веб-камерой. По ней можно следить за волнами. Трансляция периодически ломается.</p>
                        <div class="video-responsive">
                            <iframe src="https://www.youtube.com/embed/krDpqMaC4lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p>Есть также камера на крыше санатория "Дюны". Камера доступна по ссылке: <a href="https://kurort.ru/camera/">https://kurort.ru/camera/</a></p>
                        <p>Прогноз ветра на <a href="https://www.windguru.cz/235686">Windguru</a> или на <a href="https://neduet.ru/">Neduet.ru</a> в точке "Дюны"</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-info">
            <h1>Другие споты</h1>
            <spotlist-component></spotlist-component>
        </section>

    </main>

    <footer>
      <footer-component></footer-component>
    </footer>

  </body>

</html>