/*
 * uix-typography
 * Typography (1.125 - Major Second)
 * https://type-scale.com/
 */

h1 {
    margin-top: 0px;
    font-size: 1.802rem;  /* 28.83 px */
}
  
h2 {
    font-size: 1.602rem;  /* 25.63 px */
}
  
h3 {
    font-size: 1.424rem; /* 22.78 px */
}
  
h4 {
    font-size: 1.266rem; /* 20.25 px */
}
  
h5 {
    font-size: 1.125rem; /* 18px */
}

.text {
    font-size: 1rem; /* 16px */
    line-height: 150%;
}

.caption {
    font-size: 0.889rem; /* 14.22 px */
}

.caption2 {
    font-size: 0.79rem; /* 12.64 px */
}

.caption3 {
    font-size: 0.702rem; /* 11.24 px */
}

.caption-accent {
    font-weight: bold;
    font-size: 1.2rem;
}
/*
 * uix-cards.css
 */

.uix-card {
    flex: 1 1 328px;
    min-width: 328px;

    border: 1px;
    border-radius: 8px;
    border-color: var(--color-helper-2);
    border-style: solid;
    box-sizing: border-box;

    background-color: var(--color-surface);
    color: var(--color-on-surface);

    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
}


.uix-card--title {
    font-size: 1.266rem;
    font-weight: bold;
}


.uix-card--text {
    font-size: 1rem;
}


.uix-card--container {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
}


.uix-card--container hr {
    border: 0;
    height: 1px;
    background: var(--color-helper-2);
}

.uix-card--list-item {
    margin-bottom: 8px;
    width: 100%;
    list-style-type: none;
    padding: 0px;
}
.uix-card--list-item--overline {
    color: var(--color-on-surface-light);
    text-transform: uppercase;
}

.uix-card--list {
    padding: 0px;
}
.uix-card--list-item--primary-text {}
.uix-card--list-item--secondary-text {}
img {
    Width:100%;
}

.images {
    display:grid;
    Grid-template-columns:repeat(4,1fr);
    Grid-gap:1em 1em;
    Margin-top:1em;
}

@keyframes fadeIn {
    to {
        Opacity:1;
    }
}

.fade-in {
    animation:fadeIn 0.5s ease-in 1 forwards;
}

/* 
 * Popup overlay with image
 * Taken from: https://www.w3schools.com/howto/howto_css_modal_images.asp
 */
.uix-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 128px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;*/ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.uix-popup--content {
    margin: auto;
    display: block;
    width: 100%;
}

.uix-button--close {
    position: absolute;
    top: 32px;
    right: 32px;
    color: var(--color-on-primary);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/*
 * slider-line.js
 */

.uix-slider {
    display: flex;
    flex-direction: column;
}

.uix-slider h1 {
    margin-left: 8px;
}

.uix-slider--line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.uix-card--rent {
    display: flex;
    flex: 1 1 328px;
    max-width: 328px;
    min-width: 328px;
    flex-direction: column;
    align-items: bottom;

    /*ratio 16:9*/
    /*width: 328px;*/
    height: 184px;

    border: 1px;
    border-radius: 8px;
    border-color: var(--color-helper-2);
    border-style: solid;
    box-sizing: border-box;

    background-color: var(--color-surface);
    color: var(--color-on-surface);

    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;

    padding: 16px;
}

.uix-card--rent h1 {
    font-size: 1.266rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 0px;
}

.uix-card--rent hr {
    border: 0;
    height: 1px;
    background: var(--color-helper-2);
}

.bottom {
    margin-top: auto;
}

.card--caption {
    color: var(--color-on-surface-light);
    text-transform: uppercase;
}
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans');*/
@import url('http://fonts.cdnfonts.com/css/pt-root-ui');

/* Mobile */
@media (max-width: 576px) {
    main {
        /* top/bottom and left/right */
        padding: 8px 16px;
    }
    header {
        padding: 8px 16px;
    }
}

/* Tablet */
@media (min-width: 576px) {
    main {
        padding: 16px 32px;
    }
    header {
        padding: 16px 32px;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    main {
        margin: 0 auto;
        max-width: 1440px;
        padding: 16px 32px;
    }
    header {
        margin: 0 auto;
        max-width: 1440px;
        padding: 16px 32px;
    }
}

body {
    margin: 0;
    padding: 0;
    /*position: relative;*/

    font-family: "PT Root UI", sans-serif;
    line-height: 1.5;
    font-size: 16px;

    color: var(--color-on-background);
    background-color: var(--color-background);
}

a {
    color: var(--color-secondary);
}

header {
    display: flex;
    flex-direction: column;
    
    /*margin: 0 auto;
    max-width: 1440px;
    padding: 16px 16px;*/

}

header h1 {
    font-weight: bold; /*было 300*/
    width: 100%;

    /*margin: 0px;*/
    margin-top: 16px;
    margin-bottom: 0px;
}

.main-header {
    /*margin: 0 auto;*/
    margin: auto;
    max-width: 50em;
}

.spot-header {
    /*margin: auto;*/
}

main {
    display: flex;
    flex-direction: column;
    
    /*margin: 0 auto;
    max-width: 1440px;
    padding: 8px 8px;*/
}

footer {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    position: absolute;
    width: 100%;
}

.main-footer {
    margin: 0 auto;
    max-width: 980px;

    padding-left: 32px;
    padding-right: 32px;
}


/* 
 * Typography (1.125 - Major Second)
 * https://type-scale.com/
 */

h1 {
    margin-top: 0px;
    font-size: 1.802rem;  /* 28.83 px */
}
  
h2 {
    font-size: 1.602rem;  /* 25.63 px */
}
  
h3 {
    font-size: 1.424rem; /* 22.78 px */
}
  
h4 {
    font-size: 1.266rem; /* 20.25 px */
}
  
h5 {
    font-size: 1.125rem; /* 18px */
}

.text {
    font-size: 1rem; /* 16px */
    line-height: 150%;
}

.caption {
    font-size: 0.889rem; /* 14.22 px */
}

.caption2 {
    font-size: 0.79rem; /* 12.64 px */
}

.caption3 {
    font-size: 0.702rem; /* 11.24 px */
}

.caption-accent {
    font-weight: bold;
    font-size: 1.2rem;
}


/*
 * UIX basic components
 */

 .uix--layout-hbox--wrapped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.uix-card {
    flex: 1 1 328px;
    min-width: 328px;

    border: 1px;
    border-radius: 8px;
    border-color: var(--color-helper-2);
    border-style: solid;
    box-sizing: border-box;

    background-color: var(--color-surface);
    color: var(--color-on-surface);

    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.uix-card--title {
    font-size: 1.266rem;
    font-weight: bold;
}

.uix-card--text {
    font-size: 1rem;
}

.uix-card--container {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.uix-card--container hr {
    border: 0;
    height: 1px;
    background: var(--color-helper-2);
}

.uix-card--list-item {
    margin-bottom: 8px;
    width: 100%;
    list-style-type: none;
    padding: 0px;
}
.uix-card--list-item--overline {
    color: var(--color-on-surface-light);
    text-transform: uppercase;
}

.uix-card--list {
    padding: 0px;
}
.uix-card--list-item--primary-text {}
.uix-card--list-item--secondary-text {}


/*
 * SPOT DESCRIPTION
 */

 .spot-header {
    margin: 8px;
}

.section-info {
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

/* Make Google Maps responsive */

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Make Youtube player pesponsive */

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#copy-location { /* Button */
    background-color: var(--color-transparent);
    border-width: 0px;
}


/*
 * ICONS
 */
.icon-help {
    padding-left: 8px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 32px;
    border-color: var(--color-helper-3);
    background-color: var(--color-helper-3);
    color: var(--color-on-surface);
}

.uix--icon--back {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 8px;

    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    border-color: var(--color-helper-3);
    background-color: var(--color-helper-3);
    color: var(--color-on-surface);
}




/*
 * ELEMENTS NEW
 */

.section-card {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--color-primary-dark);

    padding: 16px;
}


/*
 * HELPERS
 */

 .decoration-none {
    text-decoration: none;
 }
/*
 * Styles
 */

header {
    display: flex;
    flex-direction: column;

    width: 100%;

    /* debug mode */
    border: dotted;
    border-color: #555;
    border-radius: 16px;
}

main {
    display: flex;
    flex-direction: column;

    width: 100%;

    /* debug mode */
    border: dotted;
    border-color: #555;
    border-radius: 16px;
}

.uix-toolbar-main {
    display: flex;
    flex-direction: row;

    width: 100%;

    /* debug mode */
    border: dotted;
    border-color: #000;
    border-radius: 16px;
}

.uix-page-header {
    display: flex;
    flex-direction: column;

    width: 100%;

    /* debug mode */
    border: solid;
    border-color: #000;
    border-radius: 16px;
}